/* Tablitas */
.table thead th, .table td{background-color: rgba(59,165,255,.60);border:.125rem solid #ccc;padding:.313rem; font-size:80%;}
.table td{font-weight: normal}

.table{margin:3.125rem auto; color: #FFFFFF}

.post-content h1:before,.post-content h2:before,.post-content h3:before,.post-content h4:before,.post-content h5:before,.tag-title:before{display:block;content:" ";margin-top:-60px;height:75px;visibility:hidden}

.post{top:14.25rem;background:#002240}

.post-content{padding:2.5rem 10;}

.post-content img{max-width:100%;margin:auto;display:block}

.post-content p,.post-content h1,.post-content h2,.post-content h3,.post-content h4,.post-content ul,.post-content ol,.post-content .tags,.post-content iframe,.post-content .button-post{*zoom:1;width:auto;float:none;display:block;margin-right:auto;margin-left:auto;padding-left:0;padding-right:0;padding:0 1.25rem;margin:0 auto 1.875rem;font-family:'Open Sans',sans-serif;font-weight:300;font-style:normal;font-size:1.125rem;letter-spacing:.01rem;}

.post-content p:before,.post-content h1:before,.post-content h2:before,.post-content h3:before,.post-content h4:before,.post-content ul:before,.post-content ol:before,.post-content .tags:before,.post-content iframe:before,.post-content .button-post:before,.post-content p:after,.post-content h1:after,.post-content h2:after,.post-content h3:after,.post-content h4:after,.post-content ul:after,.post-content ol:after,.post-content .tags:after,.post-content iframe:after,.post-content .button-post:after{content:'';display:table;}

.post-content p:after,.post-content h1:after,.post-content h2:after,.post-content h3:after,.post-content h4:after,.post-content ul:after,.post-content ol:after,.post-content .tags:after,.post-content iframe:after,.post-content .button-post:after{clear:both}@media only screen and (min-width:37.5rem){.post-content p,.post-content h1,.post-content h2,.post-content h3,.post-content h4,.post-content ul,.post-content ol,.post-content .tags,.post-content iframe,.post-content .button-post{font-size:1.25rem}}.post-content li{margin-bottom:0;}

.post-content p,.post-content li{color: #FFF;text-align:justify}


.post-content a{color:#005f97; font-family:'Open Sans',sans-serif;font-weight:300;font-style:normal;text-decoration:none;transition:all .3s;}

.post-content a:hover{background:#005f97;color:#fff}

.post-content .externalLink:after{display:inline-block;content:'';color:#005f97;background-image:url("../img/external.svg"ç);background-size:100%;margin-left:.313rem;width:1.125rem;height:1.125rem}.post-content iframe{margin-top:1.875rem;width:100%}

.post-content #twitter-widget-0,.post-content .instagram-media{margin:auto !important}.post-content h1,.post-content h2,.post-content h3,.post-content h4,.post-content h5{font-family:'Open Sans',sans-serif;font-weight:700;font-style:normal;}

.post-content h1{font-size:1.875rem;line-height:1.4;text-shadow:1px 1px 3px #FFFFFF}
@media only screen and (min-width:37.5rem){.post-content h1{font-size:2.413rem}}

.post-content h2{font-size:1.375rem;line-height:2rem; text-shadow:1px 1px 3px #FFFFFF}
@media only screen and (min-width:37.5rem){.post-content h2{font-size:2.188rem}}

.post-content h3{font-size:1.125rem;line-height:1.4; text-shadow:1px 1px 1px #FFFFFF}
@media only screen and (min-width:37.5rem){.post-content h3{font-size:1.563rem}}

.post-content h4{text-shadow:1px 1px 1px #FFFFFF}

.post-content ul,.post-content ol{padding-left:2.5rem}

.post-content ul.post-list{padding:0;background:#FFFFFF;border-radius:10px}

.post-content ul.post-list.svg-serie p{padding:0}
@media only screen and (max-width:37.5rem){.post-content ul.post-list{padding:0 1.25rem}}

.post-content blockquote{*zoom:1;width:auto;max-width:45.625rem;float:none;display:block;margin-right:auto;margin-left:auto;padding-left:0;padding-right:0;border-left:.313rem solid #005f97;padding:0 1.875rem;margin:3.125rem auto;}

.post-content blockquote:before,.post-content blockquote:after{content:'';display:table}

.post-content blockquote:after{clear:both}
@media only screen and (max-width:37.5rem){.post-content blockquote{width:90%}}

.post-content blockquote p{margin:0;}
@media only screen and (max-width:37.5rem){.post-content blockquote p{font-size:1.125rem;line-height:1.5;padding:0}}

.post-content hr{*zoom:1;width:auto;max-width:47.5rem;float:none;display:block;margin-right:auto;margin-left:auto;padding-left:0;padding-right:0;border:1px solid #f2f2f2;margin:50px auto}

.post-content hr:before,.post-content hr:after{content:'';display:table}

.post-content hr:after{clear:both}

.post-content > table{margin:3.125rem auto; color:#FFFFFF}
@media only screen and (max-width:37.5rem){.post-content > table{display:none}}

.post-content > table th,.post-content > table td{background-color: rgba(59,165,255,.60);border:.125rem solid #ccc;padding:.313rem; font-size:100%;}

.table-striped tbody tr:nth-of-type(odd){background-color: rgba(84,84,84,.60)}

.post-content td > pre{padding:0;margin:0}.post-content td.gutter.gl{padding-right:1.563rem;line-height:1.5rem}

.post-content .tags{margin-top:1.875rem}
.post-content .tags a{font-size:1rem;color:#005f97;display:inline-block;border:1px solid #005f97;border-radius:.313rem;padding:.25rem .625rem;margin-right:.125rem;text-decoration:none;background: #FFFFFF;opacity: 0.8}
.post-content .tags a:hover{color:#00395b;border:1px solid #00395b;background:#fff;opacity: 1}

.tag-title{font-family:'Open Sans',sans-serif;font-weight:700;font-style:normal;font-size:2.25rem;*zoom:1;width:auto;float:none;display:block;margin-right:auto;margin-left:auto;padding-left:0;padding-right:0;color:#BBA32C; text-shadow: 1px 1px 3px #FFFFFF}

.tag-title:before,.tag-title:after{content:'';display:table}
.tag-title:after{clear:both}
@media only screen and (max-width:37.5rem){.tag-title{font-size:1.75rem;margin-top:1.25rem;padding:0 1.25rem}}
.post-list{list-style:none;margin:1.563rem auto; opacity: 0.8}
.post-list:hover{opacity: 1}
@media only screen and (max-width:37.5rem){.post-list{padding:0 1.25rem}}
.post-list a{display:block;border-bottom:1px solid #dadada;padding:.5rem 20px;text-decoration:none;transition:all .5s;border-radius:10px; opacity: 1}
.post-list a:hover{color:#002f4c;border-bottom:1px solid #002f4c;background:#fff;border-radius:10px; opacity: 1}
.post-list .entry-date{float:right;}
@media only screen and (max-width:37.5rem){.post-list .entry-date{display:none}}

figure{margin:1em 380px}

/* MathJax */

.MathJax_Display{text-align:center!important; overflow: auto; overflow-y: hidden}
tt{font-size:130%;}

/* Botoncitos */
body {padding:auto;}

#Hide1, #Hide2, #Hide3, #Hide4, #Hide5, #Hide6, #Hide7, #Hide8, #Hide9, #Hide10, #Hide11, #Hide12, #Hide13, #Hide14, #Hide15, #Hide16, #Hide17, #Hide18, #Hide19, #Hide20, #Hide21, #Hide22, #Hide23, #Hide24, #Hide25, #Hide26, #Hide27, #Hide28, #Hide29, #Hide30, #Hide31, #Hide32, #Hide33, #Hide34, #Hide35, #Hide36, #Hide37, #Hide38, #Hide39, #Hide40{display:none; max-width: 300px; margin: auto; margin-right: auto; margin-left: auto; box-shadow: 1px 2px 10px #eee;border-color: #FFF;}

#Show1, #Show2, #Show3, #Show4, #Show5, #Show6, #Show7, #Show8, #Show9, #Show10, #Show11, #Show12, #Show13, #Show14, #Show15, #Show16, #Show17, #Show18, #Show19, #Show20, #Show21, #Show22, #Show23, #Show24, #Show25, #Show26, #Show27, #Show28, #Show29, #Show30, #Show31, #Show32, #Show33, #Show34, #Show35, #Show36, #Show37, #Show38, #Show39, #Show40{max-width: 300px; margin: auto; margin-right: auto; margin-left: auto; display: block; box-shadow: 1px 2px 10px #eee;border-color: #FFF;}

#botoncito1, #botoncito2, #botoncito3, #botoncito4, #botoncito5, #botoncito6, #botoncito7, #botoncito8, #botoncito9, #botoncito10, #botoncito11, #botoncito12, #botoncito13, #botoncito14, #botoncito15, #botoncito16, #botoncito17, #botoncito18, #botoncito19, #botoncito20, #botoncito21, #botoncito22, #botoncito23, #botoncito24, #botoncito25, #botoncito26, #botoncito27, #botoncito28, #botoncito29, #botoncito30, #botoncito31, #botoncito32, #botoncito33, #botoncito34, #botoncito35, #botoncito36, #botoncito37, #botoncito38, #botoncito39, #botoncito40 {width:auto; height:auto;  margin-right: auto; margin-left: auto; padding-left: 0; padding-right: 0; padding: 0 1.25rem; margin: 0 auto 1.875rem; font-family: 'Open Sans',sans-serif; font-weight: 300; font-style: normal; letter-spacing: .01rem; display:none;border-color: #FFF;}

/*Gráficos plotly */
.js-plotly-plot{margin: auto;}
.plotlyCuadrito{margin-right: auto; margin-left: auto;}

/* Tabla de contenidos dudas mirar  https://afeld.github.io/bootstrap-toc/#headings */
.nav.navbar-nav {padding-left: 0; padding-right: 0; margin-bottom: 0}

nav[data-toggle="toc"] {top: 80px!important; display: block;}

@media(max-width: 768px) {
  nav[data-toggle="toc"] {margin-bottom: 42px; position: static;}
  nav[data-toggle="toc"] .nav .active .nav {display: none;}
}

/* Imagen movil */
img.sticky {
  position: sticky;
  max-width: 100%;
  top: 60%;
  width: auto;
}
